.clock {
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
    position: absolute;
    top: -50px;
    left: 43%;
    z-index: 1;
}
#time {
    font-weight: bold;
    letter-spacing: 5px;
    color: #5470e0;
}
#date {
    margin-top: 20px;
    font-size: 0.5em;
    letter-spacing: 3px;
    color: #5470e0;
    text-shadow: #5470e0;
}